[submodule "site-cookbooks/web_server"]
	path = site-cookbooks/web_server
	url = git@github.com:init0info/web_server.git
[submodule "site-cookbooks/jenkins_server"]
	path = site-cookbooks/jenkins_server
	url = git@github.com:init0info/jenkins_server.git
